html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: white;
}

button:disabled {
  opacity: 0.5;
}

.messages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-post {
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 800px;
  margin: 30px 0px 10px 10px;
  background-color: #faeee6;
  box-shadow: -15px -15px 0px #ffe5d8;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  background-color: #ffe5d8;
}
.member .member-full-name,
.member .member-email {
  font-weight: bold;
}
.messages {
  margin: 40px;
  width: 300px;
  font-size: 15px;
}
.messages .timestamp {
  font-weight: bold;
  font-style: italic;
  font-size: 13px;
}

.underline {
  background-size: 1px 1em;
  box-shadow: inset 0 -0.375em #00ffff;
  display: inline;
}

img {
  position: relative;
  border-style: none;
  background-size: contain;
  width: 40%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}
